In [1]:
# Loading Libraries & Packages
import pandas as pd

In [2]:
# Reading Excel file
lang_1 = pd.read_excel('../Datasources/scenario_1.xlsx')# .head(50)
# language_1.head()

In [3]:
lang_1 = lang_1.drop(["category_id","category_name","concept_id","concept_name","external_id"], axis=1)
# lang_1.head()

In [4]:
# Melt languages descriptions
lang_1_melted = lang_1.melt(id_vars=["parent_id","parent_name"], 
        var_name="lang", 
        value_name="desc")

In [5]:
# Sorting after melting
lang_1_melted.sort_values(["parent_id","parent_name"])

# len before dropping (check)
print(len(lang_1_melted))

# dropping ALL duplicte values 
lang_1_melted.drop_duplicates(keep=False,inplace=True) 

# len after dripping (Check)
print(len(lang_1_melted))

# Reordering Cols
cols = ["lang","parent_name","parent_id","desc"]
lang_1_melted = lang_1_melted[cols]

# reindex dataframe
lang_1_melted.reset_index(drop=True, inplace=True)
# lang_1_melted

6228
839

In [6]:
# Grouping by keys
lang_1_melted.groupby(["lang","parent_name","parent_id"])

In [7]:
# Coverting to string for applying join
lang_str = lang_1_melted.applymap(str)

# Concatenating descrptions (apply)
lang_str = lang_str.groupby(["lang","parent_name","parent_id"])["desc"].apply(','.join).reset_index()
lang_str

,lang,parent_name,parent_id,desc
0,AR,animals,74483,"بهائم,حيوان,بهيمة,بهيمة,عجماء,عجماء,حيوان,بهائ..."
1,AR,atmosphere,32860,"أجواء,اهواء,أهواء,أهواء,اهواء,مزاج,المزاج,أهوا..."
2,AR,environment,66139,"بيئة,بيآت,بيآت,بيئة"
3,AR,fireplace,74577,"مصطلا,مصطلى,مستوقد,مواقد,مستوقد,مصطلا,مصطلى,مو..."
4,AR,frog,74430,"عُلجوم,علجوم,ضفدع,ضفدعة,ضفدع,ضفدعة,علجوم,عُلجو..."
...,...,...,...,...
167,ZH,peaceful,74417,"nan,宁静的,和平的,和平的,宁静的,宁静"
168,ZH,pet,74571,"巴哥犬,泥料,猎犬,猎狗,走狗,狩,槍獵犬,执行官,小猎犬,牧犬,牧羊犬,狩,猎犬,猎狗,走..."
169,ZH,quiet,74411,"静,清静,幽静,寂静,宁静,安静,闹中取静,宁静,安静,寂静,幽静,清静,闹中取静,静"
170,ZH,snake,74453,"金环蛇,环蛇,蟒,蟒蛇,巨蟒,环蛇,金环蛇,巨蟒,蟒,蟒蛇,眼镜蛇,眼鏡蛇,蝰蛇,毒蛇,蝰蛇..."
171,ZH,temperature,32971,"室温,常温,体温,温度,冷热度数,气温,温度,热度,体温,冷热度数,气温,温度,热度,温度,..."

In [8]:
# Writing output file
# lang_str.to_csv('../Datasources/scenario_1_out.csv') 
lang_str.to_excel(r'../Datasources/scenario_1_out.xlsx', sheet_name='Result',index=None)